.social-login
  a(href=routes.githubAuth)
    button.social-login--github
      span
        i.fab.fa-github
      | Continue with Github
  a(href=routes.fbAuth)
    button.social-login--facebook
      span
        i.fab.fa-facebook-square
      | Continue with Facebook
