include ../mixins/message

doctype html
html(lang="en")
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel="stylesheet", href="/stylesheets/lib/css/fontawesome.css", type="text/css")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
    title #{pageTitle} | #{siteName}
  body
    if messages.success
      +message({
        text: messages.success,
        type: 'success'
      })
    else if messages.info
      +message({
        text: messages.info,
        type: 'info'
      })
    else if messages.error
      +message({
        text: messages.error,
        type: 'error'
      })
    include ../partials/header
    main.container
      block content
    include ../partials/footer
    script(src='/javascript/main.js')
