extends layouts/main
include mixins/videoBlock
block content
  .search__header
    h3 Searching for: "#{searchingBy}"
  .search__videos
    if videos.length
      each video in videos
        .videos__video-block
          +videoBlock(video)
    else
      h4 No videos found
