extends layouts/main
block content
  .form-container
    form(action=routes.videos + routes.upload, method="post")
      label(for="video") Video File
      input#video(type="file", name="video" required=true)
      input(type="text", name="title", placeholder="Title" required=true)
      textarea(name="description", placeholder="Description")
      input(type="submit", value="Upload Video")
