.form-container
  width: 100%
  +display-flex()
  +flex-direction(column)
  +align-items(center)
  a
    width: 100%
    max-width: $form-width
  form
    width: 100%
    margin-bottom: 3rem
    max-width: $form-width
    input:not([type="file"])
      display: block
      width: 100%
      &:not(:last-child)
        margin-bottom: $gap
    textarea, .fileUpload
      &:not(:last-child)
        margin-bottom: $gap
