.header
  background-color: $red
  margin-bottom: $big-gap
  .header__wrapper
    padding-top: .25rem
    padding-bottom: .25rem
    +display-grid()
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: inherit
    +justify-content(center)
    +align-content(center)
    .header__column
      +align-self(center)
      &:nth-child(2)
        width: 100%
        justify-self: center
      &:last-child
        justify-self: end
      i
        color: white
        font-size: $big-gap
      ul
        +display-flex()
        +justify-content(flex-end)
        color: white
        font-weight: 600
        text-transform: uppercase
        li:not(:last-child)
          margin-right: 1rem
        a:visited
          color: white
      form
        width: 100%
        input
          padding: .35rem 1rem
          @include box-shadow(none)
