.videoBlock
  .videoBlock__thumbnail, .videoBlock__title, .videoBlock__views
    margin-bottom: $small-gap
  .videoBlock__thumbnail
    width: 100%
  .videoBlock__title
    font-size: 1.2rem
    font-weight: 300
  .videoBlock__views
    font-size: .75rem
  .videoBlock__description
    font-size: 1rem

